footer {
    background-color: rgb(107, 76, 76);
    text-align: center;
    width: $baseWidth;
    font-family: 'Great Vibes';
    word-spacing: 3px;
    color: wheat;
    padding-top: 20px;
    direction: ltr;

    p {
        margin-bottom: 0;
    }
}